workflows/email-support-agent.json
{
  "name": "Email Support Agent - Gadget & More",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ 'Subject: ' + ($json.Subject || '') + '\\nFrom: ' + ($json.From || '') + '\\nBody: ' + ($json.snippet || '') }}",
        "categories": {
          "categories": [
            {
              "category": "support_relevant",
              "description": "Customer is asking about returns, refunds, repairs, warranties, exchanges, shipping, billing, subscriptions, privacy, gift cards, or other Gadget & More Electronics store policies"
            },
            {
              "category": "not_relevant",
              "description": "Email is not a customer support question - spam, marketing, personal messages, newsletters, or unrelated inquiries"
            }
          ]
        },
        "options": {}
      },
      "id": "text-classifier",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [304, 0]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {}
      },
      "id": "anthropic-classifier",
      "name": "Anthropic Model (Classifier)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [208, 304],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "id": "skip-noop",
      "name": "Skip - Not Relevant",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [432, 208]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'A customer sent the following email. Search the Knowledge Base for relevant policies and FAQ answers, then draft a professional email response.\\n\\nSubject: ' + $('Gmail Trigger').first().json.Subject + '\\nFrom: ' + $('Gmail Trigger').first().json.From + '\\nBody: ' + $('Gmail Trigger').first().json.snippet }}",
        "options": {
          "systemMessage": "You are a customer support representative for Gadget & More Electronics. Write your response directly to the customer as an email reply.\n\nRules:\n1. ALWAYS search the Knowledge Base tool first before responding\n2. Write the email body ONLY — no subject line, no meta-commentary, no \"here's my response\" preamble\n3. Use ONLY information found in the knowledge base — never make up policies\n4. Address the customer warmly and directly (e.g. \"Thank you for reaching out...\")\n5. Be concise but thorough — cover every question they asked\n6. If the knowledge base doesn't have the answer, say you'll escalate to a specialist\n7. Sign off as:\nBest regards,\nGadget & More Support Team"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [704, 0]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {}
      },
      "id": "anthropic-agent",
      "name": "Anthropic Model (Agent)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [784, 240],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the Gadget & More Electronics knowledge base for information about returns, refunds, warranties, shipping, delivery, billing, subscriptions, rewards membership, privacy, data sharing, and gift cards. Use this tool whenever a customer asks about any store policy or FAQ.",
        "memoryKey": {
          "mode": "id",
          "value": "gadget_more_kb"
        }
      },
      "id": "knowledge-base",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [912, 304]
    },
    {
      "parameters": {
        "modelName": "gemini-embedding-001"
      },
      "id": "embeddings-gemini",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [800, 528],
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ 'Re: ' + $('Gmail Trigger').first().json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "create-draft",
      "name": "Create Draft Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1008, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').first().json.id }}"
      },
      "id": "mark-read-support",
      "name": "Mark Read (Support)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1200, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').first().json.id }}"
      },
      "id": "mark-read-skip",
      "name": "Mark Read (Skip)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [576, 208],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Text Classifier", "type": "main", "index": 0 }]]
    },
    "Text Classifier": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Skip - Not Relevant", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Model (Classifier)": {
      "ai_languageModel": [[{ "node": "Text Classifier", "type": "ai_languageModel", "index": 0 }]]
    },
    "Anthropic Model (Agent)": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Knowledge Base": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [[{ "node": "Knowledge Base", "type": "ai_embedding", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Create Draft Reply", "type": "main", "index": 0 }]]
    },
    "Create Draft Reply": {
      "main": [[{ "node": "Mark Read (Support)", "type": "main", "index": 0 }]]
    },
    "Skip - Not Relevant": {
      "main": [[{ "node": "Mark Read (Skip)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
